.box2345 {
    display: flex;
    height: 100%;

    .boxInfo {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .chartInfo {
        flex: 2;
        flex-direction: column;
        justify-content: space-between;

        .chart {
            width: 100px;
            height: 100px;        
        }

        .texts {
            display: flex;
            flex-direction: column;
            text-align: right;

            .percentage {
                font-weight: bold;
                font-size: 20px;
                color: lightgreen;
            }

            .duartion {
                font-size: 14px;
                color: #9E9E9E;
            }
        }
    }
    
}